<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mars Missions Index</title>
</head>
<body>
    <h1>here are all the mars missions and their info</h1>
    
        <% for (let i = 0; i < allTheMissions.length; i++) { %>
          <a href="/missions/<%= i %> ">
            The <%= allTheMissions[i].name %> is <%= allTheMissions[i].launchDate %><%= allTheMissions[i].operator %>
            <%= allTheMissions[i].missionType%><%= allTheMissions[i].launchDate %><%= allTheMissions[i].img %>
          </a><br>
        <% } %>
    

</body>
</html>